<% unless flash[:error].nil? %>
  <p class="bg-danger"><%= flash[:error] %></p>
<% end %>
<% unless flash[:msg].nil? %>
  <p class="bg-success"><%= flash[:msg] %></p>
<% end %>
  <div class="logo">
    <a href="/">
      <%= image_tag "hansome.jpg" %>
    </a>
  </div>
<p>
<%= image_tag @face.photo.url(:converted), :class => "img-rounded", :style => "width: 100%" %>
</p>
<%= form_for(@face, :url => oauth_with_facebook_path(@face.id)) do |f| %>
  <strong>한마디 남기기</strong>
  <%= f.text_field :message, :style => "width: 100%; height: 50px;" %>
  <%= f.submit "페이스북으로 공유하기", :class => "btn btn-primary btn-lg btn-block" %>
<% end %>
<p>
